<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="../assets/img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p>
            <b>My name is Klaudia and I am 26 yo developer based in Kraków, 
            who is making the World a better place.</b>
            How? Mostly by coloring the Internet with thousands lines of code. 
          </p>
          <p>
            Shortly about me: I have graduated Computer Studies at the Krakow University of Economics, and Management fields at Jagiellonian University. 
            Between the first and second degrees, I decided to have a gap year and I moved to Ireland to get experience at work. I was working in Dublin city as a General Operative in the CWS boco company. 
            This experience has improved my language, logistics, and management skills. 
            At the same time, I was actively learning Frontend technologies and looking for new opportunities in Krakow. <br>
            <b>Over 2 years ago I started my IT adventure</b> at ABB company and joined ABB Ability Team, which is creating innovative cloud solutions for the Clients and supporting them in the Digital Transformation.
          </p>
          <p>
            Out of my professional bio, I am an active PS4 gamer (including VR) 
            and I am really interested in Augmented Reality, Virtual Reality, IoT and AI. 
          </p>
          <p class="text-center"><a class="btn btn-primary" href="../../assets/img/CV.pdf" download><i class="fa fa-download"></i> Download Resume</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
