<div id="resume" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>July 2019 <br>
                  - <br>
                  Present </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>ABB - Kraków, Poland</h4>
                  <h4 class="subheading">Junior Front-end Developer</h4>
                </div>
                <div class="timeline-body">
                  <p>
                     
                  </p>
                </div>
              </div>
            </li>
          <li>
            <div class="timeline-image">
              <h4>June 2018 <br>
                - <br>
                June 2019 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>ABB - Kraków, Poland</h4>
                <h4 class="subheading">Front-end Developer - Intern</h4>
              </div>
              <div class="timeline-body">
                <p>
                   creating and maintaining web applications, <br>
                   rewriting and refactoring of web pages, <br>
                   working closely with Product Manager on UI/UX of new pages, <br>
                   creating designs and prototypes of web applications using company branding rules, <br>
                   working with teams in other locations, <br>
                   experience with HTML, CSS (Bootstrap, SASS), Javascript and Angular <br>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Nov 2016 <br>
                - <br>
                June 2017 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>CWS boco Ireland Ltd. - Dublin, Ireland</h4>
                <h4 class="subheading">General Operative</h4>
              </div>
              <div class="timeline-body">
                <p>
                   implementation of logistic processes, <br>
                   warehouse supply management, <br>
                   analysis of storage reserves, <br>
                   cooperation with delivery team and completing products ready for shipment, <br>
                   keeping current documentation of sent products and returns, <br>
                   responsibility for reporting branch in Letterkenny, Ireland<br>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>1 July 2015 <br>
                - <br>
                21 July 2015 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>J&B Service Ltd. - Celbridge, Ireland</h4>
                <h4 class="subheading">HTML/CSS Developer - Training</h4>
              </div>
              <div class="timeline-body">
                <p>University practice</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>June 2013 <br>
                - <br>
                Sep 2015 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Klaudia Szal Target - Kraków, Poland</h4>
                <h4 class="subheading">CEO</h4>
              </div>
              <div class="timeline-body">
                <p>
                  creation and administration of the website, <br>
                  customer service, retail sale of products, <br>
                  logistics activities, <br>
                  inventory control, order processing, procurement processes, returns handling, <br>
                  company accounting <br>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title center">
      <h2>Education</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          
          <!-- Education Section-->
          
          <li>
            <div class="timeline-image">
              <h4>2017 <br>
                - <br>
                2019 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Jagiellonian University in Kraków</h4>
                <h4 class="subheading">Master's Degree, Marketing and Logistics</h4>
              </div>
              <div class="timeline-body">
                <p>Field of study: Management</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2013 <br>
                - <br>
                2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cracow University of Economics</h4>
                <h4 class="subheading">Bachelor's Degree, Information Systems</h4>
              </div>
              <div class="timeline-body">
                <p>Field of study: Applied Informatics <br>
                  Bachelor thesis: Selected issues of Internet of Things and intelligent buildings. A smart mirror project.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>2010 <br>
                - <br>
                2013 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>XIII High School in Kraków</h4>
                <h4 class="subheading">High School Degree</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"> Majors in Mathematics and Computer Science </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>