<div id="resume" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <h4>July 2020 <br>
                - <br>
                PRESENT </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>ABB - Kraków, Poland</h4>
                <h4 class="subheading">Software Developer</h4>
              </div>
              <div class="timeline-body">
                <p>
                   creating and maintaining web applications, <br>
                   UI/UX responsibilities, <br>
                   passing Exam AZ-900 - Microsoft Azure Fundamentals <br>
                   and getting Microsoft certificate, <br>
                   gaining experience in Microsoft Power BI - <br>
                   preparing dashboards for management, <br>
                   creating/maintaining reports <br>
                   and dashboards that are <br>
                   connected with data from Microsoft Azure, <br>
                   working on Power BI projects automation <br>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>July 2019 <br>
                  - <br>
                  June 2020 </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>ABB - Kraków, Poland</h4>
                  <h4 class="subheading">Junior Front-end Developer</h4>
                </div>
                <div class="timeline-body">
                  <p>
                    creating designs and working on the implementation of internal web applications (UI/UX specialist), <br>
                    active participation in project implementation, creating innovative solutions (FE developer), <br>
                    driving sync call meetings, plannings, retrospectives (scrum master role responsibilities), <br>
                    cooperation with Product Owner, maintaining scrum team backlog, <br>
                    gaining Cloud knowledge (Microsoft Azure)<br>
                  </p>
                </div>
              </div>
            </li>
          <li>
            <div class="timeline-image">
              <h4>June 2018 <br>
                - <br>
                June 2019 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>ABB - Kraków, Poland</h4>
                <h4 class="subheading">Front-end Developer - Intern</h4>
              </div>
              <div class="timeline-body">
                <p>
                   creating and maintaining web applications, <br>
                   web pages refactoring/rewriting, <br>
                   working closely with Product Manager on UI/UX of new pages, <br>
                   creating designs and prototypes of web applications using company branding rules, <br>
                   working with teams in other locations, <br>
                   gaining experience with HTML, CSS (Bootstrap, SASS), Javascript and Angular <br>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Nov 2016 <br>
                - <br>
                June 2017 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>CWS boco Ireland Ltd. - Dublin, Ireland</h4>
                <h4 class="subheading">General Operative</h4>
              </div>
              <div class="timeline-body">
                <p>
                   logistic processes implementation, <br>
                   warehouse supply management, <br>
                   analysis of storage reserves, <br>
                   cooperation with delivery team and completing products ready for shipment, <br>
                   keeping current documentation of sent products and returns, <br>
                   responsibility for reporting branch in Letterkenny, Ireland<br>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>1 July 2015 <br>
                - <br>
                21 July 2015 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>J&B Service Ltd. - Celbridge, Ireland</h4>
                <h4 class="subheading">HTML/CSS Developer - Training</h4>
              </div>
              <div class="timeline-body">
                <p>University practice</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>June 2013 <br>
                - <br>
                Sep 2015 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Klaudia Szal Target - Kraków, Poland</h4>
                <h4 class="subheading">Owner</h4>
              </div>
              <div class="timeline-body">
                <p>
                  website creation and administration, <br>
                  customer service, retail sale of products, <br>
                  logistics activities, <br>
                  inventory control, order processing, procurement processes, returns handling, <br>
                  company accounting <br>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title center">
      <h2>Education</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          
          <!-- Education Section-->
          
          <li>
            <div class="timeline-image">
              <h4>2017 <br>
                - <br>
                2019 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Jagiellonian University in Kraków</h4>
                <h4 class="subheading">Master's Degree, Marketing and Logistics</h4>
              </div>
              <div class="timeline-body">
                <p>Field of study: Management <br>
                Master's thesis: Threats and security techniques for data protection in Cloud Computing.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2013 <br>
                - <br>
                2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cracow University of Economics</h4>
                <h4 class="subheading">Bachelor's Degree, Information Systems</h4>
              </div>
              <div class="timeline-body">
                <p>Field of study: Applied Informatics <br>
                  Bachelor's thesis: Selected issues of Internet of Things and intelligent buildings. A smart mirror project.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>2010 <br>
                - <br>
                2013 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>XIII High School in Kraków</h4>
                <h4 class="subheading">High School Degree</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"> Majors in Mathematics and Computer Science </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>