<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
      <h3>I feel good in</h3>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 skill"> <span class="chart" data-percent="90"> <span class="percent">90</span> </span>
        <h4>Web Development</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>UI</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="65"> <span class="percent">65</span> </span>
        <h4>UX</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-html5-plain"></i></h1>
        <h4>HTML5</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-css3-plain"></i></h1>
        <h4>CSS3</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-sass-original"></i></h1>
        <h4>Sass</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-bootstrap-plain"></i></h1>
        <h4>Bootstrap</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-javascript-plain"></i></h1>
        <h4>JavaScript</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="devicon-angularjs-plain"></i></h1>
        <h4>Angular</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><i class="fab fa-adobe"></i></h1>
        <h4>Adobe Xd</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><span class="iconify" data-icon="eva:npm-fill" data-inline="false"></span></h1>
        <h4>npm</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><span class="iconify" data-icon="bx:bxl-microsoft" data-inline="false"></span></h1>
        <h4>Microsoft</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><span class="iconify" data-icon="mdi-microsoft-azure" data-inline="false"></span></h1>
        <h4>Azure</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><span class="iconify" data-icon="mdi:cloud" data-inline="false"></span></h1>
        <h4>Cloud</h4>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 skill">
        <h1><span class="iconify" data-icon="simple-icons:powerbi" data-inline="false"></span></h1>
        <h4>Power BI</h4>
      </div>
    </div>
  </div>
</div>