<div id="certificates">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Certificates</h2>
        <hr>
      </div>
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">All</a></li>
              <li><a href="#" data-filter=".design">Web Design</a></li>
              <li><a href="#" data-filter=".development">Development</a></li>
              <li><a href="#" data-filter=".other">Other</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-3 col-lg-3 development">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/az900.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Exam AZ-900 - Microsoft Azure Fundamentals</h4>
                  <small>Development, Cloud, Azure, AZ-900</small> </div>
                <img src="../assets/img/certificates/az900.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 other">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/google.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Google Digital Garage - Fundamentals of Digital Marketing</h4>
                  <small>Other Certificates</small> </div>
                <img src="../assets/img/certificates/google.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 design">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/UC-6CMR6IIS.jpg" target="blank" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>WEB UI/UX Design</h4>
                  <small>Web Design</small> </div>
                <img src="../assets/img/certificates/UC-6CMR6IIS.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 development">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/az203.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Developing Solutions for Microsoft Azure</h4>
                  <small>Development, Cloud, Azure, AZ-203</small> </div>
                <img src="../assets/img/certificates/az203.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 other">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/robotics-abb-1.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>ABB Robotics Quality Culture</h4>
                  <small>Other Certificates</small> </div>
                <img src="../assets/img/certificates/robotics-abb-1.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div><div class="col-sm-6 col-md-3 col-lg-3 other">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/digitalization-abb-1.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>The Future of Digitalization</h4>
                  <small>Other Certificates</small> </div>
                <img src="../assets/img/certificates/digitalization-abb-1.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 other">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/white-belt-abb.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Six Sigma - White Belt Training</h4>
                  <small>Other Certificates</small> </div>
                <img src="../assets/img/certificates/white-belt-abb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          
          <!-- <div class="col-sm-6 col-md-3 col-lg-3 development">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/UC-6CMR6IIS.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>React</h4>
                  <small>Development</small> </div>
                <img src="../assets/img/certificates/UC-6CMR6IIS.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 development">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../assets/img/certificates/UC-6CMR6IIS.jpg" target="blank" title="Project description" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Angular 7</h4>
                  <small>Development</small> </div>
                <img src="../assets/img/certificates/UC-6CMR6IIS.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

 